<!-- <p>body works!</p> -->

<!-- se declara los templates de cada componente -->
<div class="container mt-5 border border-dark">
    <div class="row p-5 mx-auto border-bottom border-info bg-dark mt-2">
        <!-- Titulo -->
        <h2 class="text-center text-white">CALCULADORA BASICA</h2>
    </div>
    <div class="row mt-5">
        <div class="col">
            <!-- template de inputs -->
            <app-inputs></app-inputs>
        </div>
        <div class="col">
            <!-- template de resultado -->
            <app-resultado></app-resultado>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- template de botones -->
            <app-botones></app-botones>
        </div>
    </div>
</div>
